*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
  }
  p{
    color: #7a7a7a;
  }
    .top{
        display: flex;
        color: white;
        align-items: center;
        background-color: #322f6a;
        height: 60px;
    }
    .navbar-nav li{
      font-size: 20px;
    }
    .search_toogle{
      display: inline-block;
     font: normal normal normal 14px/1 FontAwesome;
    background: #322f6a;
    color: white;
    padding: 15px;
    border-radius: 50px;
    }
    
    .container-fluid .hero{
        min-height:500px;
    }
    .container-fluid .woman{
        background-image: url(Images/woman-optimized.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height:500px;  
    }
  
    .text h1{
      font-size: 55px;
    }
    
    .btn1{
        background-color: #322f6a;
        color: white;
        padding: 12px 50px;
        text-decoration: none;
    }
   .student img{
    box-shadow: -5px 10px 25px 5px;
   }
    #training{
        background-color: rgba(205, 205, 205, 0.404);
        min-height: 350px;
    }
  .line{
   position: absolute; 
   left: 0;
   right: 0;
   height: 2px;
   background-color: #333;
    width: 35px;
    margin: auto;
   } 
  #Courses{
    min-height: 355px;
  }
 
  #supports .boxes{
    display: flex;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.218);
   padding: 25px 10px 10px 10px;
   max-width: 500px;
   min-height: 200px;
  }

#supports .boxes i{
    margin-top: 20px;
    padding: 25px;
    font-size: 30px;
    color: rgb(20, 108, 180);
    background-color: rgba(133,199,226,0.46);
    border-radius: 50%;

  }
  #Companies{
    min-height: 307px;
    background-color: rgba(128, 128, 128, 0.268);
  }
 #contact .newletter{
  background-image: url(bg-newletter-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 753px;
  min-height: 500px;
  margin: auto;
 text-align: center;
 }
 .newletter img{
  width: 150px;
  margin-top: 60px;
 }
 .newletter input{
  width: 20em;
 }
 .newletter .btn{
  padding: 10px 110px;
  margin-right: 40px;
 }
 footer{
  background-color: #322f6a;
 }
 footer p{
  color: white;
 }
 .google{
  width: 250px;
  border-top: 8px solid green;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.374);
  position: fixed;
  bottom: 15px;
  left: 10px;
 }
 .whtsapp{
  position: fixed;
  bottom: 15px;
  right: 10px;
 }
 #input-group{
  display: none;
 }
 @media only screen and (max-width: 600px) {
  .newletter input{
  width: 23em;
  margin-left: 0;
 }


 }